filelock==3.0.12
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
Flask==1.1.2
Flask-Jsonpify==1.5.0
gunicorn==20.1.0
Jinja2==2.11.2
pandas @ file:///C:/ci/pandas_1602083338010/work
pandas-flavor==0.2.0
pandocfilters @ file:///C:/ci/pandocfilters_1605102497129/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
os
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scikit-plot==0.3.7
scipy @ file:///C:/ci/scipy_1604596260408/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
sklearn==0.0